body{
    margin: 0;
    align-items: center;
    background-image: url(https://www.freepik.es/foto-gratis/arreglo-flores-fondo-blanco_5943449.htm#fromView=keyword&page=1&position=1&uuid=8ae92897-a29e-42c2-80c1-215f06a195cf&query=Estetica+gris+blanca);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Adicionado para adaptar o fundo */
    min-height: 100vh; /* Para ocupar a tela toda */
    overflow: hidden;
}
#conteiner-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

#perfil{
    border: 1px solid black;
    border-radius: 100px;
    width: 150px; /* Reduzido para se ajustar melhor em telas menores */
    max-width: 80%;
}

.nome-perfil{
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 5px;
}

.nome-perfil2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#conteiner-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}
#foto-perfil{
   border: 1px solid black;
    border-radius: 100px;
    width: 150px; /* Reduzido para se ajustar melhor em telas menores */
    max-width: 80%; 
}
#perfil{
    text-align: center;
}

#conteinerForm {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    height: 350px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: white;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
} option{
    font-weight: bold;
}
input, select {
    width: 150px;
    text-align: center;
    border-radius: 5px;
}
#btn button{
    margin: 30px 0;
    background-color: #25D366;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
#btn button:hover{
    background-color: #075E54;
    padding: 7px;
} 
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px 0;
    font-size: 12px;
}

